<html>
  <head></head>
  <body style="background-image:url('https://static01.nyt.com/images/2020/03/05/us/05xp-clinton/merlin_11228189_0be33503-799d-4877-977c-9f3fb6db2496-superJumbo.jpg');">
    <h1><%= @album.title %></h1>
    <p>Release Year: <%= @album.release_year %> Artist: <%= @artist.name %></p><br>
    <br><a href="/albums/">Back</a>
  </body>
</html>