<body style="background-image:url('https://static01.nyt.com/images/2020/03/05/us/05xp-clinton/merlin_11228189_0be33503-799d-4877-977c-9f3fb6db2496-superJumbo.jpg');">
<h1>Welcome to the Music Database</h1>
<a href="/albums/">Click Here to look at all the Albums currently in the Database</a>
<br><a href="/artists/">Click Here to look at all the Artists currently in the Database</a>
</body>