
<body style="background-image:url('https://static01.nyt.com/images/2020/03/05/us/05xp-clinton/merlin_11228189_0be33503-799d-4877-977c-9f3fb6db2496-superJumbo.jpg');">
<form method="POST" action="/albums/created">
  <label> Title: </label>
  <input type="text" name="album_title" /><br>
  <label> Release Year: </label>
  <input type="text" name="album_release_year" /><br>
  <label> Artist: </label>
  <input type="text" name="album_artist" /><br>
  <input type="submit" value="Submit New Album" /><br>
  <a href="/albums/">Cancel</a>
</form>
</body>